    # Node modules
    node_modules/

    # Distribution folder
    dist/

    # Log files
    *.log

    # IDE and editor files (e.g., VS Code)
    .vscode/
    .idea/

    # npm debug logs
    npm-debug.log*
    yarn-debug.log*
    yarn-error.log*

    # Angular cache
    .angular/cache/